<div class="content">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="candidateLanguageForm">
        <div class="mb-3">
          <label>Add Language</label>
          <select class="form-select" formControlName="languageId">
            <option value="" disabled>Languages</option>
            <option *ngFor="let language of languages" [ngValue]="language.id">
              {{ language.name }}
            </option>
          </select>
        </div>
        <div class="mb-3">
          <label>Language Level</label>
          <select class="form-select" formControlName="languageLevel">
            <option>Beginner</option>
            <option>Pre Intermediate</option>
            <option>Intermediate</option>
            <option>Upper Intermediate</option>
            <option>Advanced</option>
          </select>
        </div>
      </form>
      
    </div>
  </div>
</div>
 