<div class="row">

  <div class="col-md-3">
    <app-cv-info></app-cv-info>
    
  </div>

  <div class="col-md-9">
    <div class="row">

      <div class="col-md-8">

        <div class="flex-shrink-0 p-3 bg-white shadow p-3 mb-5 bg-white rounded" style="width: 950px;  ">

          <ul class="list-unstyled ps-0">
            <div class="accordion" id="accordionExample8">
         
        <div class="accordion-item" style="width: 900px;  ">

        <app-school-view></app-school-view>
        <app-job-experience-view></app-job-experience-view>
        <app-language-view></app-language-view>
        <app-skill-view></app-skill-view>
        </div></div></ul></div>

       </div>

      <div class="col-md-4">
        <!-- <app-candidate-sidebar-info></app-candidate-sidebar-info> -->
      </div>

    </div>

  </div>
</div>