<div class="content">


    <div class="row">
        <div class="col-md-6">
            <div class="sign-img">
                <img [src]="'assets/image/sign.svg'" width="100%">
            </div>
            
        </div>
        <div class="col-md-6">
            <form [formGroup]="signCandidateForm">
                <div class="form-group">
                    <label class="text-primary">First Name</label>

                    <input class="form-control" type="text" id="firstName" formControlName="firstName">
                    <small
                        *ngIf="signCandidateForm.get('firstName').hasError('required') && signCandidateForm.get('firstName').touched"
                        class="form-text text-muted">
                        Name is required
                    </small>
                </div>
                <div class="form-group mt-2">
                    <label class="text-primary">Last Name</label>
                    <input class="form-control" type="text" id="lastName" formControlName="lastName">
                    <small
                        *ngIf="signCandidateForm.get('lastName').hasError('required') && signCandidateForm.get('lastName').touched"
                        class="form-text text-muted">
                        lastName is required
                    </small>

                </div>
                <div class="form-group mt-2">
                    <label class="text-primary">Nationality Identity</label>
                    <input class="form-control" type="text" id="nationalityId" formControlName="nationalityId">
                    <small
                        *ngIf="signCandidateForm.get('nationalityId').hasError('required') && signCandidateForm.get('nationalityId').touched"
                        class="form-text text-muted">
                        Nationality Id is required
                    </small>

                </div>
                <div class="form-group mt-2">
                    <label class="text-primary">Birth Year</label>
                    <input class="form-control" type="number" id="birthYear" formControlName="birthYear">
                    <small
                        *ngIf="signCandidateForm.get('birthYear').hasError('required') && signCandidateForm.get('birthYear').touched"
                        class="form-text text-muted">
                        Birth year is required
                    </small>

                </div>
                <div class="form-group mt-2">
                    <label class="text-primary">Email</label>
                    <input class="form-control" type="text" id="email" formControlName="email">
                    <small
                        *ngIf="signCandidateForm.get('email').hasError('required') && signCandidateForm.get('email').touched"
                        class="form-text text-muted">
                        Email is required
                    </small>

                </div>
                <div class="form-group mt-2">
                    <label class="text-primary">Password</label>
                    <input class="form-control" type="password" id="password" [(ngModel)]="password"
                        formControlName="password">
                    <small
                        *ngIf="signCandidateForm.get('password').hasError('required') && signCandidateForm.get('password').touched"
                        class="form-text text-muted">
                        Password is required
                    </small>

                </div>
                <div class="form-group mt-2">
                    <label class="text-primary">Password Again</label>
                    <input class="form-control" type="password" id="verifyPassword" [(ngModel)]="verifyPassword"
                        formControlName="verifyPassword">
                    <small
                        *ngIf="signCandidateForm.get('verifyPassword').hasError('required') && signCandidateForm.get('verifyPassword').touched"
                        class="form-text text-muted">
                        Password is required
                    </small>

                </div>
                <button [disabled]="!signCandidateForm.valid" class="btn btn-primary btn-fill mt-3" (click)="add()">Sign
                    in</button>
            </form>
        </div>
    </div>

</div>