<h1>
    Something
  </h1>
  <h4>aoıgjnadkgnajkdfnbadkjşbgadnlkbnaşdjkbnadşjklbnadj</h4>


  <div class="row">

    <table>
      <thead>
        <tr>
          <th scope="col">Bildiği Diller</th>
          <th scope="col">Dil seviyeleri</th>
        </tr>
      </thead>
      <tbody>

        <td>
          <tr *ngFor="let item of languageNames">
            <td>{{item}}</td>
          </tr>
        </td>

        <td>
          <tr *ngFor="let item of candidateLanguages">
            <td>{{item.languageLevel}}</td>
          </tr>
        </td>

        
      </tbody>
    </table>
  </div>