<div class="flex">
    <li  class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"aria-expanded="false">
            Hoşgeldin 
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a  class="dropdown-item" routerLink="positions-add">Position Add</a></li>
            <li><a  class="dropdown-item" routerLink="list-candidates">List Candidates</a></li>
            <li><a  class="dropdown-item" routerLink="list-employers">List Employers</a></li>
            <li><a  class="dropdown-item" routerLink="list-positions">List Positions</a></li> 
            <li><a  class="dropdown-item" routerLink="job-advertisement-list">List Advertisement</a></li> 

            <li><a  class="dropdown-item" (click)="signOut()">Çıkış yap</a></li>
        </ul>
    </li>
    
</div>
