<div class="content shadow p-7 mb-7 bg-white rounded mt-7 mx-7">

 

    <div class="row">

        <div class="col-md-6">
            <img
                src="https://media.istockphoto.com/photos/password-input-field-with-padlock-picture-id808424876?b=1&amp;k=20&amp;m=808424876&amp;s=170667a&amp;w=0&amp;h=jsHA-i698IpjyABBEA2Af_-n2U24x81UBrCNPXCmTgQ=">
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body mt-3">

                    <form [formGroup]="userPasswordUpdate">

                        <div class="mb-3">
                            <label>old Password</label>
                            <input class="form-select" formControlName="oldPassword">

                        </div>

                        <div class="mb-3">
                            <label>New Password</label>
                            <input class="form-select" formControlName="password">

                        </div>

                        <button [disabled]="!userPasswordUpdate.valid" (click)="updatePassword()"
                            class="btn btn-primary">
                            Güncelle
                        </button>



                    </form>
                </div>
            </div>
        </div>
    </div>
 
</div>