 <div class="flex">
    <li  class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Hoşgeldiniz   
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" routerLink="cv-add">Add Cv</a></li>
            <li><a class="dropdown-item" routerLink="job-advertisement-list">Job Advertisement List</a></li>
            <li><a class="dropdown-item" routerLink="job-advertisement-add">Job Advertisement Add</a></li>
            <li><a class="dropdown-item" routerLink="image">image add</a></li>
            <li><a class="dropdown-item" routerLink="jobExperience">jobExperience add</a></li>
            <li><a class="dropdown-item" routerLink="language">language add</a></li>
            <li><a class="dropdown-item" routerLink="skill">skill add</a></li>
            <li><a class="dropdown-item" routerLink="school">school add</a></li>
            <li><a class="dropdown-item" routerLink="github">github add</a></li>
            <li><a class="dropdown-item" routerLink="linkedin">linkedin add</a></li>
            <li><a class="dropdown-item" routerLink="cv-list">Your Cvs</a></li>
            <li><a  class="dropdown-item" (click)="signOut()" >Çıkış yap</a></li>
        </ul>
    </li>
    
</div>