<div class="flex">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Hoşgeldiniz
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="cv">Add Cv</a></li>
            <li><a class="dropdown-item" routerLink="job-advertisement-list">Job Advertisement List</a></li>
            <li><a class="dropdown-item" routerLink="job-advertisement-add">Job Advertisement Add</a></li>
            <li><a class="dropdown-item" routerLink="image">image add</a></li>
            <li><a class="dropdown-item" routerLink="jobExperience">jobExperience add</a></li>
            <li><a class="dropdown-item" routerLink="language">language add</a></li>
            <li><a class="dropdown-item" routerLink="skill">skill add</a></li>
            <li><a class="dropdown-item" routerLink="school">school add</a></li>
            <li><a class="dropdown-item" routerLink="github">github add</a></li>
            <li><a class="dropdown-item" routerLink="linkedin">Linkedin add</a></li>
            <li><a class="dropdown-item" routerLink="list-candidates">List Candidates</a></li>
            <li><a class="dropdown-item" routerLink="cv-view">view your cv</a></li>
            <li><a class="dropdown-item" routerLink="favorites">view your favorites job advertisements</a></li>
            <li><a class="dropdown-item" routerLink="school-update">Update school</a></li>
            <li><a class="dropdown-item" (click)="signOut()">Çıkış yap</a></li>
        </ul>
    </li>

    <!-- <p-button label="New" icon="pi pi-plus" class="p-mr-2"></p-button> -->

</div>