
<div class="flex">
    <li  class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Hoşgeldiniz {{getEmployerInfo().companyName}}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a  class="dropdown-item" routerLink="list-candidates">List Candidates</a></li>
            <li><a  class="dropdown-item" routerLink="list-positions">List Positions</a></li>
            <li><a  class="dropdown-item" routerLink="positions-add">Add Positions</a></li>
            <li><a  class="dropdown-item" routerLink="job-advertisement-list">Job Advertisement List</a></li>
             
            
            <li class="nav-item"><a class="nav-link" routerLink="job-advertisement-add">Job Advertisement Add</a></li>
            

            <li><a  class="dropdown-item" (click)="signOut()" >Çıkış yap</a></li>
        </ul>
    </li>
    
</div>