<h2 class="accordion-header" id="headingOne14">
  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne14"
    aria-expanded="true" aria-controls="collapseOne14">
    <h4>School Informations</h4>
  </button>
</h2>
<div id="collapseOne14" class="accordion-collapse collapse show" aria-labelledby="headingOne14"
  data-bs-parent="#accordionExample14">
  <div class="accordion-body">
    <div class="list-group">
      <ng-container *ngFor="let candidateSchool of candidateSchools">
         <table>
          <tr>
            <th></th>
            <th style="width: 3rem;"></th>
          </tr>
          <tr>
            <td>

              <div class="mx-2 mt-2">
                <h6 class="mb-0">{{candidateSchool.department.name}}</h6>
                <p class="mb-0 opacity-75">{{candidateSchool.school.name}}</p>
              </div>
              <small class="mx-2 mt-2" >{{candidateSchool.startYear}} - <span
                  *ngIf="candidateSchool.graduationYear;">{{candidateSchool.graduationYear}}</span></small>
            </td>

            <td>
              <button pButton pRipple icon="pi pi-trash" class="p-button-danger"
                (click)="catchSchoolById(candidateSchool.id)" (click)="deleteSchoolById(candidateSchool.id)"></button>
            </td>
          </tr>
        </table>

       </ng-container>
    </div>
  </div>
</div>