<table  class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"><h6>Company Name</h6></th>
        <th scope="col"><h6>Position Title</h6></th>
        <th scope="col"><h6>Number of Open Positions</h6></th>
        <th scope="col"><h6>Release Date</h6></th>
        <th scope="col"><h6>Deadline</h6></th>
        <th><button class = "btn btn-info btn-sm"  (click) = "SortByCreatedDate()">Tarihe göre sırala</button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let jobAdvertisement of jobAdvertisements | paginate: { itemsPerPage: 10, currentPage: page }">
        <th scope="row">{{jobAdvertisement.employer.id}}</th>
        <td>{{jobAdvertisement.employer.companyName}}</td>
        <td>{{jobAdvertisement.position.title}}</td>
        <td class="text-center">{{jobAdvertisement.openPositions}}</td>
        <td>{{jobAdvertisement.createdAt | date :'dd/MM/yyyy' }}</td>
        <td>{{jobAdvertisement.deadline | date :'dd/MM/yyyy' }}</td>
      </tr>
    </tbody>
</table>

<pagination-controls class="pagi text-center" (pageChange)="page = $event"></pagination-controls>

